@using DiceRoll.Extensions
@using DiceRoll.Data
@using DiceRoll.WorkModels
@inherits AttackerBase

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-12 d-flex">
                <span class="text-align">
                    Attacker profile @ListDetail.Order
                </span>
                <div class="btn-group ms-auto" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" type="button" @onclick="MoveUp_Click" disabled="@IsFirst">
                        <span class="fa fa-arrow-up" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" type="button" @onclick="MoveDown_Click" disabled="@IsLast">
                        <span class="fa fa-arrow-down" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" type="button" @onclick="Duplicate_Click">
                        <span class="fa fa-copy" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" type="button" @onclick="Delete_Click">
                        <span class="fa fa-trash-alt" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        @if (ListDetail.HitResult != null || ListDetail.WoundResult != null)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <p class="mb-2 text-info bg-dark rounded">@ListDetail.HitResult</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-info bg-dark rounded">@ListDetail.WoundResult</p>
                    </div>
                </div>
            </li>
        }
        <li class="list-group-item pb-0">
            <div class="row">
                <label for="@("quantityInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Quantity</label>
                <div class="col-8 col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("quantityInput" + ComponentId)" @bind-Value="ListDetail.Quantity" />
                </div>
            </div>
            <div class="row">
                <label for="@("attackSkillInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">WS or BS</label>
                <div class="col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("attackSkillInput" + ComponentId)" @bind-Value="ListDetail.AttackSkill" />
                </div>
                <label for="@("woundCapInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Wound cap</label>
                <div class="col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("woundCapInput" + ComponentId)" @bind-Value="ListDetail.WoundCap" />
                </div>
            </div>
            <div class="row">
                <label for="@("apInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">AP</label>
                <div class="col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("apInput" + ComponentId)" @bind-Value="ListDetail.AP" />
                </div>
                <label for="@("damagesInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Damages</label>
                <div class="col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("damagesInput" + ComponentId)" @bind-Value="ListDetail.Damages" />
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <button class="col-12 btn" type="button" data-bs-toggle="collapse" data-bs-target="@("#optionsCollapse" + ComponentId)" aria-expanded="false" aria-controls="@("optionsCollapse" + ComponentId)">
                <span class="fa fa-arrow-alt-circle-down" aria-hidden="true"></span> Options
            </button>
            <div class="collapse" id="@("optionsCollapse" + ComponentId)">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-switch text-align mb-0">
                                    <InputCheckbox class="form-check-input" role="switch" id="@("hitRerollInput" + ComponentId)" @bind-Value="ListDetail.HasHitReroll" />
                                    <label class="form-check-label" for="@("hitRerollInput" + ComponentId)">Hit reroll</label>
                                </div>
                            </div>
                            @if (ListDetail.HasHitReroll)
                            {
                                <div class="col-8 pb-2">
                                    <InputRadioGroup Name="@("HitRerollType" + ComponentId)" @bind-Value="ListDetail.HitRerollType">
                                        @foreach (var rerollType in (RerollType[])Enum.GetValues(typeof(RerollType)))
                                        {
                                        <div class="form-check text-align mb-0">
                                            <InputRadio Name="@("HitRerollType" + ComponentId)" Value="rerollType" class="form-check-input" id="@("HitRerollType" + rerollType.ToString() + ComponentId)" />
                                            <label class="form-check-label" for="@("HitRerollType" + rerollType.ToString() + ComponentId)">@rerollType.GetDescription()</label>
                                        </div>
                                        }
                                </InputRadioGroup>
                            </div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-switch text-align mb-0">
                                    <InputCheckbox class="form-check-input" role="switch" id="@("woundRerollInput" + ComponentId)" @bind-Value="ListDetail.HasWoundReroll" />
                                    <label class="form-check-label" for="@("woundRerollInput" + ComponentId)">Wound reroll</label>
                                </div>
                            </div>
                            @if (ListDetail.HasWoundReroll)
                            {
                                <div class="col-8 pb-2">
                                    <InputRadioGroup Name="@("WoundRerollType" + ComponentId)" @bind-Value="ListDetail.WoundRerollType">
                                        @foreach (var rerollType in (RerollType[])Enum.GetValues(typeof(RerollType)))
                                        {
                                        <div class="form-check text-align mb-0">
                                            <InputRadio Name="@("WoundRerollType" + ComponentId)" Value="rerollType" class="form-check-input" id="@("WoundRerollType" + rerollType.ToString() + ComponentId)" />
                                            <label class="form-check-label" for="@("WoundRerollType" + rerollType.ToString() + ComponentId)">@rerollType.GetDescription()</label>
                                        </div>
                                        }
                                </InputRadioGroup>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        @foreach (var optionType in ListDetail.OptionsDictionary)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check form-switch text-align mb-0">
                                        <InputCheckbox class="form-check-input" role="switch" id="@("optionType" + optionType.Key.ToString() + ComponentId)" @bind-Value="optionType.Value.IsActive" />
                                        <label class="form-check-label" for="@("optionType" + optionType.Key.ToString() + ComponentId)">@optionType.Key.GetDescription()</label>
                                    </div>
                                </div>
                                @if (optionType.Value.IsActive)
                                {
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            <InputNumber class="form-control" id="@("optionTypeValue" + optionType.Key.ToString() + ComponentId)" @bind-Value="optionType.Value.Value" />
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

@code {
}
