@using DiceRoll.Extensions
@using DiceRoll.Data
@inherits DefenderBase

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-12 d-flex">
                <span class="text-align">
                    Defender profile @ListDetail.Order
                </span>
                <div class="btn-group ms-auto" role="group" aria-label="Actions">
                    <button class="btn btn-primary" type="button" @onclick="MoveUp_Click" disabled="@IsFirst">
                        <span class="fa fa-arrow-up" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" type="button" @onclick="MoveDown_Click" disabled="@IsLast">
                        <span class="fa fa-arrow-down" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" type="button" @onclick="Duplicate_Click">
                        <span class="fa fa-copy" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-primary" type="button" @onclick="Delete_Click">
                        <span class="fa fa-trash-alt" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        @if (ListDetail.SavesResult != null)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12">
                        <p class="mb-0 text-info bg-dark rounded">@ListDetail.SavesResult</p>
                    </div>
                </div>
            </li>
        }
        <li class="list-group-item pb-0">
            <div class="row">
                <label for="@("quantityInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Quantity</label>
                <div class="col-8 col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("quantityInput" + ComponentId)" @bind-Value="ListDetail.Quantity" />
                </div>
                <label for="@("woundsInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Wounds</label>
                <div class="col-8 col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("woundsInput" + ComponentId)" @bind-Value="ListDetail.Wounds" />
                </div>
            </div>
            <div class="row">
                <label for="@("saveCapInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Save cap</label>
                <div class="col-8 col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("saveCapInput" + ComponentId)" @bind-Value="ListDetail.SaveCap" />
                </div>
                <label for="@("invlSaveCapInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Invuln. save cap</label>
                <div class="col-8 col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("invlSaveCapInput" + ComponentId)" @bind-Value="ListDetail.InvlSaveCap" />
                </div>
            </div>
            <div class="row">
                <label for="@("fnpCapInput" + ComponentId)" class="col-4 col-sm-3 col-form-label">Feel no pain cap</label>
                <div class="col-8 col-8 col-sm-3 pb-2">
                    <InputNumber class="form-control" id="@("fnpCapInput" + ComponentId)" @bind-Value="ListDetail.FeelNoPainCap" />
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <button class="col-12 btn" type="button" data-bs-toggle="collapse" data-bs-target="@("#optionsCollapse" + ComponentId)" aria-expanded="false" aria-controls="@("optionsCollapse" + ComponentId)">
                <span class="fa fa-arrow-alt-circle-down" aria-hidden="true"></span> Options
            </button>
            <div class="collapse" id="@("optionsCollapse" + ComponentId)">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-switch text-align mb-0">
                                    <InputCheckbox class="form-check-input" role="switch" id="@("saveRerollInput" + ComponentId)" @bind-Value="ListDetail.HasSaveReroll" />
                                    <label class="form-check-label" for="@("saveRerollInput" + ComponentId)">Save reroll</label>
                                </div>
                            </div>
                            @if (ListDetail.HasSaveReroll)
                            {
                                <div class="col-8">
                                    <InputRadioGroup Name="@("SaveRerollType" + ComponentId)" @bind-Value="ListDetail.SaveRerollType">
                                        @foreach (var rerollType in (RerollType[])Enum.GetValues(typeof(RerollType)))
                                        {
                                        <div class="form-check text-align mb-0">
                                            <InputRadio Name="@("SaveRerollType" + ComponentId)" Value="rerollType" class="form-check-input" id="@("SaveRerollType" + rerollType.ToString() + ComponentId)" />
                                            <label class="form-check-label" for="@("SaveRerollType" + rerollType.ToString() + ComponentId)">@rerollType.GetDescription()</label>
                                        </div>
                                        }
                                </InputRadioGroup>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        @foreach (var optionType in ListDetail.OptionsDictionary)
                        {
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check form-switch text-align mb-0">
                                        <InputCheckbox class="form-check-input" role="switch" id="@("optionType" + optionType.Key.ToString() + ComponentId)" @bind-Value="optionType.Value.IsActive" />
                                        <label class="form-check-label" for="@("optionType" + optionType.Key.ToString() + ComponentId)">@optionType.Key.GetDescription()</label>
                                    </div>
                                </div>
                                @if (optionType.Value.IsActive)
                                {
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            <InputNumber class="form-control" id="@("optionTypeValue" + optionType.Key.ToString() + ComponentId)" @bind-Value="optionType.Value.Value" />
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

@code {
}
